fuse-nfs
Daniel-Abrecht/fuse-nfs-crossbuild-scripts

libnfs   https://github.com/sahlberg/libnfs.git +refs/tags/libnfs-{1.11.0<} +master
fuse-nfs https://github.com/sahlberg/fuse-nfs.git +master
dokany   https://github.com/dokan-dev/dokany.git +refs/tags/v{1.0.1<} +refs/tags/v{2.0.0-BETA0<} master

out/ */*
../dokany/out/ */*.dll
